:root {
    --main-color: #3742fa;
    --second-color: #70a1ff;
    --grey: #a4b0be;
    --white: #ffffff;
    --danger: #ff4757;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
}

body {
    background: var(--main-color);
}

.main-container {
    margin: auto;
    margin-top: 10rem;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 20rem;
    align-items: center;
    background-color: white;
}

.title-container {
    display: flex;
    width: 100%;
    height: 3rem;
    background: var(--second-color);
    align-items: center;
    font-size: 1.4rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.title-container h1 {
    margin: auto;
    text-decoration: underline;
    color: var(--white);
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.input-container input {
    width: 75%;
    height: 2rem;
    padding-left: 1rem;
    border: none;

}

.input-container button {
    height: 2rem;
    width: 2rem;
    border: none;
    margin-left: 0.1rem;
    background-color: var(--second-color);
}

.input-container button i {
    color: var(--white);
}

.task-container {
    display: flex;
    flex-direction: column;
}

.newTask {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 20rem;
}

.newTask span {
    padding: 1rem;
    font-size: 1.2rem;
}

.taskFinish {
    background: #fab1a0;
    color: white;
}